<div class="feature-v1">
    <div class="d-lg-flex align-items-center w-100">
        <div class="d-flex pagination-item  h-100">
            <span class="icon-wrap">
                <img src="assets/images/svg/svg/001-elderly.svg" alt="Image" class="img-fluid">
            </span>
            <div>
                <span class="subheading">Try Our Services</span>
                <h3 class="heading">Independent Living For Senior Couples</h3>
                <a href="#" class="small">Learn More</a>
            </div>
        </div>
        <div class="d-flex pagination-item h-100">
            <span class="icon-wrap">
                <img src="assets/images/svg/svg/002-elderly-1.svg" alt="Image" class="img-fluid">
            </span>
            <div>
                <span class="subheading">Try Our Services</span>
                <h3 class="heading">We Are Helping the Senior Elderly People</h3>
                <a href="#" class="small">Learn More</a>
            </div>
        </div>
        <div class="d-flex pagination-item h-100">
            <span class="icon-wrap">
                <img src="assets/images/svg/svg/003-rocking-chair.svg" alt="Image" class="img-fluid">
            </span>
            <div>
                <span class="subheading">Try Our Services</span>
                <h3 class="heading">Senior Home Patient Care Services</h3>
                <a href="#" class="small">Learn More</a>
            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7">
                <div class="section-heading">
                    <h2 class="heading mb-3">What is our service?</h2>
                    <p class="mb-5">
                        Our service is Home care , it is a category of professional support services designed to help seniors live safely at
                        home. With home care, a professional caregiver or multiple different caregivers come into a
                        senior's home or their loved one's home to provide whatever help is needed. The length of care
                        and level of care varies. <br>

                        For one senior, home care might mean hiring someone to come help with bathing and dressing. For
                        another, it might mean an all-day companion who helps with all activities of daily living and
                        monitoring vital signs. It really depends on your needs and what you can afford. <br>

                        Home care also goes by many different names like non-medical care, home health aide services,
                        homemaker care, companion care, or senior care. It's similar to what's offered at an assisted
                        living facility, except you continue living in your own home.</p>
                </div>
            </div>
            <div class="col-lg-5">

                <div class="d-block custom-media algin-items-stretch">
                    <div class="text text-center">
                        <h3>You can live here with love</h3>
                    </div>
                    <div class="img-bg" style="background-image: url('assets/images/img_3.jpg')"></div>
                </div>
            </div>
        </div>
    </div>
</div>